<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../fonts/fontawesome/css/all.css">
    <title>Admin Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Bookstore</a>
        <a class="navbar-brand" href="/admin/dashboard">Admin panel</a>
      </div>
    </nav>

    <div class="container mx-auto py-10">
      <h1 class="text-3xl font-bold mb-6 text-indigo-500">Admin Dashboard</h1>
      <table class="table table-striped mb-6">
        <thead>
          <tr class="bg-gray-200 text-gray-700">
            <th class="py-2 px-4">Название</th>
            <th class="py-2 px-4">Автор</th>
            <th class="py-2 px-4">Цена</th>
            <th class="py-2 px-4">Изменить</th>
            <th class="py-2 px-4">Удалить</th>
          </tr>
        </thead>
        <tbody>
          {{#each books}}
            <tr>
              <td class="py-2 px-4">{{this.title}}</td>
              <td class="py-2 px-4">{{this.author}}</td>
              <td class="py-2 px-4">${{this.price}}</td>
              <td class="py-2 px-4">
                <form method="POST" action="/admin/edit-book">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <button type="submit" class="btn btn-link text-indigo-500">
                    <i class="fas fa-edit"></i>
                  </button>
                </form>
              </td>
              <td class="py-2 px-4">
                <form method="POST" action="/admin/delete-book">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <button type="submit" class="btn btn-link text-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <form action="/admin/add-book" method="post">
        <button type="submit" class="btn btn-primary font-bold py-2 px-4 rounded">
          Добавить книгу
        </button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>