<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="../fonts/fontawesome/css/all.css">
    	<title>User Profile</title>
    </head>
    <body>
        <nav class="bg-gray-800 p-6">
          <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-lg font-semibold text-white hover:text-indigo-500">Bookstore</a>
            <div class="flex items-center">
              <a href="/admin" class="text-lg font-semibold text-white hover:text-indigo-500">Admin panel</a>
              <a href="/profile" class="flex items-center text-white hover:text-indigo-500 ml-4">
                <span class="font-bold">Profile</span>
                <img src="{{profile.image}}" class="h-6 w-6 rounded-full ml-2" alt="Profile image">
              </a>
              <a href="/cart" class="flex items-center text-white hover:text-indigo-500 ml-4">
                <span class="font-bold">CART</span>
                <span class="px-2">/</span>
                <span class="font-bold">${{totalPrice}}</span>
                <i class="fas fa-shopping-basket px-2"></i>
              </a>
            </div>
          </div>
        </nav>

    	<div class="container mx-auto py-10">
    		<header class="py-6">
    			<h1 class="text-3xl font-bold text-gray-900">User Profile</h1>
    		</header>
    		<main class="grid grid-cols-1 md:grid-cols-3 gap-8">
    			<div class="md:col-span-1 bg-white rounded-lg shadow-md">
    				<div class="p-6">
    					<img class="w-40 h-40 object-cover rounded-full mx-auto" src="{{profile.image}}" alt="User profile picture">
    					<h2 class="text-xl font-bold text-gray-900 mt-4">{{profile.name}}</h2>
    				</div>
    				<div class="border-t border-gray-200 p-6">
    					<h3 class="text-lg font-medium text-gray-900 mb-4">Contact Information</h3>
    					<dl>
    						<div class="flex items-center">
    							<dt class="text-gray-500 mr-2">Email:</dt>
    							<dd class="text-gray-900">{{profile.email}}</dd>
    						</div>
    						<div class="flex items-center mt-2">
    							<dt class="text-gray-500 mr-2">Phone:</dt>
    							<dd class="text-gray-900">{{profile.phone}}</dd>
    						</div>
    					</dl>
    				</div>
    			</div>
    			<div class="md:col-span-2 bg-white rounded-lg shadow-md p-6">
    				<h2 class="text-xl font-bold text-gray-900 mb-4">Bio</h2>
    				<p class="text-gray-500">{{profile.bio}}</p>
    			</div>
    		</main>
    	</div>
    </body>
</html>